<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-4.3.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!-- 基于注解的IOC -->
    <context:component-scan base-package="com"></context:component-scan>
    <!-- 默认的注解映射的支持 -->
    <context:annotation-config/>
    <!-- 启动mvc注解 -->
    <mvc:annotation-driven/>
    <!-- 缓存管理-->
    <!-- 启用缓存注解开关 -->
    <!--<cache:annotation-driven cache-manager="cacheManager"/>
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"></property>
    </bean>
    <bean id="ehcache"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:config/spring-ehcache.xml"></property>
    </bean>-->

    <!--&lt;!&ndash;线程池 -->
    <bean id="threadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 核心线程数 -->
        <property name="corePoolSize" value="3"/>
        <!-- 最大线程数 -->
        <property name="maxPoolSize" value="10"/>
        <!-- 队列最大长度 >=mainExecutor.maxSize -->
        <property name="queueCapacity" value="25"/>
        <!-- 线程池维护线程所允许的空闲时间 -->
        <property name="keepAliveSeconds" value="300"/>
        <!-- 线程池对拒绝任务(无线程可用)的处理策略 ThreadPoolExecutor.CallerRunsPolicy策略 ,调用者的线程会执行该任务,如果执行器已关闭,则丢弃. -->
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>
    </bean>
    <!--
          开始aop注解 让 AspectJ注解起作用
            自动为匹配的类生成代理对象
            proxy-target-class 默认为false 默认只能代理接口（使用JDK动态代理），当为true,才能代理目标类（使用CGLib动态代理）
      -->
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>

    <!-- 上传文件的设置 ，maxUploadSize=-1，表示无穷大。uploadTempDir为上传的临时目录 -->

    <!--<bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="10485760000"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>-->

    <!--
    p:uploadTempDir="/fumai-project/test"
  -->
    <!-- 在配置文件中加入拦截器-->
    <mvc:interceptors>
        <!-- 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 -->
        <!--<bean class="com.bsg.api.interceptor.CommonInterceptor"></bean>-->
        <!-- 部署二种拦截器会发生问题，原先LoginInterceptor的方法没有执行-->
        <!--<bean class="com.bsg.api.interceptor.LoginWebRequestInterceptor"></bean>-->
        <mvc:interceptor>
            <!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 -->
            <mvc:mapping path="/**"/><!-- 指定某些路径进行检验-->
            <mvc:exclude-mapping path="/*/login"></mvc:exclude-mapping><!-- 排除某些路径不进行检查-->
            <mvc:exclude-mapping path="/*/select"></mvc:exclude-mapping>
            <bean class="com.bsg.api.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
        <mvc:mapping path="/**"/>
        <bean class="com.bsg.api.interceptor.CommonInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--<task:scheduled-tasks scheduler="myScheduler">-->
        <!--<task:scheduled ref="taskJob" method="job1"  cron="0 * * * * ?" fixed-delay="5000" fixed-rate="5000"/>-->
    <!--</task:scheduled-tasks>-->
    <!--<task:scheduler id="myScheduler" pool-size="10"/>-->

    <!--<context:property-placeholder location="classpath:config/application.properties"></context:property-placeholder>-->
    <!--<util:properties id="appconfig" location="classpath:config/application.properties"></util:properties>-->
    <!-- 连接服务配置 如果MQ服务器在远程服务器上，请新建用户用新建的用户名密码  guest默认不允许远程登录-->
    <rabbit:connection-factory id="connectionFactory"
                               host="localhost" username="guest" password="guest" port="5672"
                               virtual-host="/" channel-cache-size="5" />
    <!-- 配置爱admin，自动根据配置文件生成交换器和队列，无需手动配置 -->
    <rabbit:admin connection-factory="connectionFactory" />

    <!-- queue 队列声明 -->
    <rabbit:queue   durable="true" auto-delete="false" exclusive="false" name="spring.queue.tag" />

    <!-- exchange queue binging key 绑定 声明一个交换机 -->
    <rabbit:direct-exchange name="spring.queue.exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="spring.queue.tag" key="spring.queue.tag.key" />
        </rabbit:bindings>
    </rabbit:direct-exchange>
    <!--声明一个 RabbitMQ Template-->
    <rabbit:template id="amqpTemplate" exchange="spring.queue.exchange" routing-key="spring.queue.tag.key"
                     connection-factory="connectionFactory"></rabbit:template>

    <!-- qmq消费者配置-->
    <bean name="rabbitmqService" class="com.bsg.api.service.qmq.RabbitmqService"></bean>
    <!-- 配置监听-->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto">
        <!--
           queues 监听队列，多个用逗号分隔
           ref 监听器 -->
        <rabbit:listener queues="spring.queue.tag" ref="rabbitmqService"/>
    </rabbit:listener-container>
</beans>